.background{
    height: 700px;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    /* position: fixed; */
    position: relative;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 100px;
}
